
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Quiz - Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/login_page.css') }}">
    </head>
    <body>
        <br>
        <nav>
            <a href="{{url_for('index')}}" id="homepage">Home</a>
            <a href="{{url_for('create_acct')}}" id="homepage-create-acct">No Account?</a>
        </nav>
        <header>
            <h1 id="homepage-title">Smart Quiz</h1>
        </header>
        <br>
        <main id="login-form">
            <h2>LOGIN</h2>
            <form method="post" action="/handle_login">
                <label class="username">
                    Username <span>(required)</span>
                    <br/><br>
                    <input type="text" name="username" placeholder="Enter your existing username" required maxlength="100">
                </label>
                <br/>
                <label class="password">
                    Password <span>(required)</span>
                    <br/><br>
                    <input type="password" name="password" placeholder="Enter your existing password" required maxlength="100">
                </label>
                <br/><br>
                <div id="buttons">
                    <button type="submit">Send</button>
                    <br/>
                    <button type="reset">Clear</button>
                </div>
            </form>
        </main>
        <br/><br>
        <footer>
            <nav>
                <a id="link-github" href="https://github.com/AndrewPolyak/Smart-Quiz" target="_blank">&#x200b;<img src="/static/images/GitHub_Logo.png" title="GitHub Logo" alt="GitHub Logo" width="50%"></a>
            </nav>
        </footer>
    </body>
</html>