<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Quiz - Quiz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/login_page.css') }}"> <!-- Corrected path to the quiz page CSS -->
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('index')}}" id="homepage">Home</a>
            </nav>
        </header>
        <main id="quiz-section">
            <h2>Quiz Yourself</h2>

            <h2 class="welcome-message">Welcome back, {{username}}</h2>
                
            <!-- File Upload Section -->
            <form action="{{ url_for('file_upload_handler') }}" method="post" enctype="multipart/form-data">
                <div class="file-upload">
                    <h3>Upload Your File:</h3>
                    <input type="file" name="uploaded_file" id="file-upload" required>
                    <br>
                    <button type="submit">Generate Quiz</button>
                </div>
            </form>

            <!-- Quiz Section -->
            <form method="post" action="{{ url_for('handle_quiz_submission') }}">
                {% for question, answers in question_answer_pairs %}
                <div class="question">
                    <h3>{{ loop.index }}. {{ question }}</h3>
                    {% for answer in answers %}
                    <div class="answer">
                        <!-- Ensure that the 'name' attribute is unique for each question, but the same for all options within that question -->
                        <label>{{ answer }}</label>
                        <input id= "ans_btn" type="checkbox" name="question_{{ loop.index }}" value="{{ answer }}" onclick="handleCheckbox(this, 'question_{{ loop.index }}')">
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <br>
                <button type="submit">Submit Quiz</button>
            </form>

            <p>{{ answer }}</p>      
        </main>

        <footer>
            <nav>
                <a id="link-github" href="https://github.com/AndrewPolyak/Smart-Quiz" target="_blank">&#x200b;<img src="/static/images/GitHub_Logo.png" title="GitHub Logo" alt="GitHub Logo" width="50%"></a>
            </nav>
        </footer>
    </body>
</html>
