<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Quiz - Quiz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/login_page.css') }}"> <!-- Corrected path to the quiz page CSS -->
    </head>
    <body>
        <header>
            <!-- Logo on the top left (same as main page) -->
            <img src="../images/Gray and Black Simple Studio Logo.png" alt="Quiz Time Logo" id="logo">
            <nav>
                <a href="{{url_for('index')}}" id="homepage">Home</a>
            </nav>
        </header>
        <main id="quiz-section">
            <h2>Quiz Yourself</h2>

            <h2 class="welcome-message">Welcome back, {{username}}</h2>
            <h2 class="score">Score {{xp}}</h2>
                
            <!-- File Upload Section -->
            <form action="{{ url_for('file_upload_handler') }}" method="post" enctype="multipart/form-data" action="/handle_quiz_submission">
                <div class="file-upload">
                    <h3>Upload Your File:</h3>
                    <input type="file" name="uploaded_file" id="file-upload" required>
                    <br>
                    <button type="submit">Generate Quiz</button>
                </div>
            </form>
            <!-- Loop through questions and answers -->
            <form method="post" action="submit_quiz.html">
                {% for question, answers in question_answer_pairs %}
                <div class="question">
                    <h3>{{ loop.index }}. {{ question }}</h3> <!-- Display the question -->

                    <!-- Display each answer as a radio button -->
                    {% for answer in answers %}
                    <div class="answer">
                        <input type="radio" name="question_{{ loop.index }}" value="{{ answer }}" required>
                        <label>{{ answer }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <br>
                <button type="submit">Submit Quiz</button>
            </form>
        </main>
        <br><br>
        <footer>
            <nav>
                <a id="link-github" href="https://github.com/AndrewPolyak/Smart-Quiz" target="_blank">
                    &#x200b;<img src="../images/GitHub_Logo.png" title="GitHub Logo" alt="GitHub Logo" width="50%">
                </a>
            </nav>
        </footer>
    </body>
</html>
